// *** Font Colors ***
$c-font:            #3D4043;
$c-small-font:      #717579;
$c-stroke:          #DADCE0;
$c-light-grey:      #F8F8F8;

// *** Professional Groups Colors ***
$c-ID:              #D8F0F4;
$c-ID-dark:         #C6DEE2;
$c-KD:              #EDF3DA;
$c-KD-dark:         #DBE1C9;
$c-PD:              #CFE4BC;
$c-PD-dark:         #BFD3AE;
$c-TH:              #E7E8E9;

$white: #fff;
$active: #3475E0;