
// *** Base SCSS *** 
@import 'base/_colors.scss';
@import 'base/_core.scss';
@import 'base/_settings.scss';
@import 'base/_typography.scss';

// *** Utils SCSS *** 
@import 'utils/_animations.scss';
@import 'utils/_mediaqueries.scss';
@import 'utils/_mixins.scss';

body {
    margin: 0;
    padding-right: 15px;
    @include for-tablet-portrait-up () {
        padding-right: 0;
    }
    &.modal-open {
        height: 100vh;
        overflow-y: hidden;
    }
}

