
// =============================================================================
// Font Face
// =============================================================================
@import '../utils/mixins';


// USE THIS FOR DEPLOY IN STATIC SUBFOLDER
// @include font-face("FHPSun-Bold", "/static/assets/fonts/FHP-Sun/FHPSun-Bold");
// @include font-face("FHPSun-Regular", "/static/assets/fonts/FHP-Sun/FHPSun-Regular");
// @include font-face("FHPSun-ExtraBold", "/static/assets/fonts/FHP-Sun/FHPSun-ExtraBold");

@include font-face("FHPSun-Bold", "/assets/fonts/FHP-Sun/FHPSun-Bold");
@include font-face("FHPSun-Regular", "/assets/fonts/FHP-Sun/FHPSun-Regular");
@include font-face("FHPSun-ExtraBold", "/assets/fonts/FHP-Sun/FHPSun-ExtraBold");


html {
    font-size: 1rem;
    text-rendering: optimizeLegibility;
    
    -webkit-text-stroke: 0.15px rgba(0, 0, 0, 0.1);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;

    -webkit-text-stroke: 0.45px rgba(0, 0, 0, 0.1);
}

h1 {
    font-family: 'FHPSun-Bold';
    font-size: 2.25rem;
    letter-spacing: 0.01rem;
    font-weight: normal;
    font-style: normal;
    &.regular {
        font-family: 'FHPSun-ExtraBold' !important;
    }
}

h2 {
    font-family: 'FHPSun-Regular';
    font-size: 1.5rem;
    letter-spacing: 0.01rem;
    font-weight: normal;
    font-style: normal;
}

h3 {
    font-family: 'FHPSun-Bold';
    font-size: 1.15rem;
    color: $c-font;
    letter-spacing: 0.01rem;
    line-height: 1.3rem;
    font-weight: normal;
    font-style: normal;
}

h4 {
    font-family: 'FHPSun-Regular';
    font-size: 1.15em;
    color: $c-decent-font;
    letter-spacing: 0.01rem;
    line-height: 1rem;
    font-weight: normal;
    font-style: normal;
}

p,
p.continous-text,
p.caption {
    font-size: 0.75rem;
    line-height: 1.125rem;
}

p {
    font-family: 'FHPSun-Regular';
    letter-spacing: 0.01rem;
}

p.caption {
    font-family: 'FHPSun-Bold';
    font-weight: normal;
    font-style: normal;
}

span {
    font-size: 1rem;
    line-height: 1.3125rem;
    // letter-spacing: 0.03rem;
    font-weight: normal;
    font-style: normal;
}

input, label, li, span {
    font-family: 'FHPSun-Regular'
}

span,
span.regular,
span.caption {
    font-family: 'FHPSun-Regular';
}

span.badge {
    position: relative;
    padding: 0.1rem 0.5rem 0.3rem 0.5rem;
    text-align: center;
    border-radius: 12px;
    color: #fff;
    z-index: 1;
    &:after {
        content: '';
        display: inline-block;

        position: absolute;
        left: -2px;
        top: -1px;

        width: 28px;
        height: 28px;

        border-radius: 50%;
        background: $active;

        z-index: -1;
    }
}

button {
    font-family: 'FHPSun-Regular';
    font-size: 1.2rem;
}

span.bold {
    font-family: 'FHPSun-Bold';
}

.number {
    font-feature-settings: "onum" 1;
}

hr {
    border: 0;
    border-top: 1px solid $stroke;
}